.title-first-container{
    font-size: 1.5em;
    font-weight: bold;
}

.list-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.list-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    width: 80%;
}

.list-header p{
    width: 25%;
    padding: 10px;
}

.list{
    height: 100%;
    width: 25%;
    background-color: white;
    list-style: none;
    border-top: 1px solid grey;
    margin:  10px 0px 0px 0px;
    padding: 0px;
    font-size: 1em;
}

.item:nth-child(odd){
    background-color: rgb(211, 211, 211);
}

.item{
    padding: 10px;
}