.list-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    width: 80%;
}

.list-header p{
    margin-right: 30px;
    padding: 10px;
}

.list{
    height: 100%;
    background-color: white;
    list-style: none;
    border-top: 1px solid grey;
    margin:  10px 0px 0px 0px;
    padding: 0px;
    font-size: 1em;
}

.item:nth-child(odd){
    background-color: rgb(211, 211, 211);
}

.item{
    padding: 5px;
}